# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Build outputs
dist
coverage

# Local env files
.env
.env.local
.env.*.local

# Editor & OS
.vscode
.idea
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
