body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #d7d7ab;
}

.navbar {
  background-color: #5d6939;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #d7d7ab;
  margin: 0 10px;
  text-decoration: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: #d7d7ab;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
